<div class="container">
  <h1 class="text-primary text-center m-2">{{name}}</h1>
<div class="contenedor">
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>
  <div class="card mt-2">
    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/mYpT2R7639KvKZ668uoQGS2QNFp.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Nombre de la pelicula</h5>
      <p class="card-text">fecha de estreno</p>
      <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
  </div>

</div>

</div>
